<router-outlet></router-outlet>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<div class="homepage-container">
  <!-- Left side text -->
  <div class="content">
    <nav class="navbar">
      <div class="logo">Dexterity App</div>
    </nav>

    <br>
    <br>
    <h1>Welcome to my Dexterity App!</h1>
    <br>
    <p>
        This website showcases a curated collection of fun, dexterity-challenging activities
        designed to test and enhance your skills. Scroll the selections on the right to explore and find your
        next favorite challenge!
    </p>
  </div>

  <!-- Right side image -->
  <div class="image-container">
    <div class="frame" routerLink="/counter-strafe">
        <img src="cs2.jpeg" alt="Decorative Image">
        <div class="overlay">Counter-Strafe</div>
    </div>
    <div class="frame">
        <img src="shrek.jpg" alt="Decorative Image">
        <div class="overlay">Counter-Strafe</div>
    </div> 
  </div>
</div>
